:root {
  /* font-family: "Noto Sans Display", sans-serif; */
  /* font-size: 18px; */
  /* line-height: 1.5; */
  /* font-weight: 400; */
  color: #242424;
  background-color: white;
  display: flex;
  justify-content: center;
}

.form {
  font-family: "Noto Sans Display", sans-serif;
  font-size: 16px;
  width: 900px;
  border: 1px solid black;
  padding: 20px 25px;
  border-radius: 4px;
}

input,
button,
.personal-brand textarea {
  font-family: "Noto Sans Display", sans-serif;
  color: #242424;
  outline: none;
  font-size: 16px;
  border-radius: 2px;
}

input,
textarea {
  width: auto;
  size: auto;
  border: 1px dashed grey;
}

textarea {
  resize: none;
}

button {
  font-size: 14px;
  border: 1px solid gray;
}

hr {
  margin-bottom: 10px;
}

p {
  margin: 0;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.personal-info {
  display: flex;
  flex-direction: column;
}

.personal-info:hover {
  cursor: pointer;
}

.personal-info .name {
  width: 100%;
  font-size: 28px;
  padding: 4px 3px;
}

.personal-info div + div {
  padding: 4px 3px;
}

.personal-brand,
.personal-brand textarea {
  font-style: italic;
  width: 100%;
}

.personal-brand:hover {
  cursor: pointer;
}

.job-task-pair,
.education-info-pair {
  padding: 10px;
}

.job,
.task-item,
.education {
  display: flex;
  justify-content: space-between;
}

.education form {
  width: 100%;
}

.education-other {
  margin: 8px 0;
}

.job-task-pair:hover {
  cursor: pointer;
}

.add-job,
.add-education {
  margin-top: 16px;
}

.item-list li {
  margin-bottom: 4px;
}
