.personal-brand textarea,
:root,
button,
input {
  font-family: "Noto Sans Display", sans-serif;
  color: #242424;
  font-size: 16px;
}
:root {
  background-color: white;
  display: flex;
  justify-content: center;
}
.form {
  background-color: white;
  width: 900px;
  border: 1px solid #000;
  padding: 20px 25px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 200px;
}
.footer {
  text-align: center;
}
a:visited,
a:link,
a:hover,
a:active {
  color: #242424;
}
.personal-brand textarea,
button,
input {
  outline: 0;
  border-radius: 2px;
}
input,
textarea {
  width: auto;
  size: auto;
  border: 1px dashed grey;
}
textarea {
  resize: none;
  box-sizing: border-box;
}
button {
  font-size: 14px;
  border: 1px solid gray;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
hr {
  margin-bottom: 10px;
}
p {
  margin: 0;
}
.bold {
  font-weight: 600;
}
.italic {
  font-style: italic;
}
.personal-info {
  display: flex;
  flex-direction: column;
}
.education-info-pair:hover,
.job-task-pair:hover,
.personal-brand:hover,
.personal-info:hover,
.skill:hover {
  cursor: pointer;
}
.personal-info .name {
  width: 100%;
  font-size: 28px;
  box-sizing: border-box;
}
.personal-brand.non-input,
.personal-info .name.non-input,
.personal-info span,
.skill.non-input {
  padding: 2px 3px;
}
.personal-info div {
  padding: 2px 4px;
}
.x-button {
  padding: 2px 6px;
}
.personal-info input + div {
  padding: 4px;
}
.personal-brand,
.personal-brand textarea {
  font-style: italic;
  width: 100%;
}
.education-info-pair,
.job-task-pair {
  padding: 10px;
}
.education,
.job,
.skill-submit-pair,
.task-item {
  display: flex;
  justify-content: space-between;
}
.education form {
  width: 100%;
}
.education-other {
  margin: 8px 0;
}
.add-education,
.add-job {
  margin-top: 16px;
}
.add-item {
  margin-left: 40px;
}
.item-list li {
  margin-bottom: 4px;
}
.skill-submit-pair {
  margin-bottom: 2px;
}
.skill-submit-pair button[type="submit"] {
  height: 23px;
}
input.skill {
  width: 450px;
}
